// Here you can add other styles
.my-bg-primary {
  background-color: #222222 !important;
}
.my-bg-primary64 {
  background-color: rgba(34, 34, 34, 0.64);
}
.my-bg-secondary {
  background-color: #c1ac81 !important;
  color: #ffffff !important;
}
.my-text-primary {
  color: #222222;
}

.menu {
  cursor: pointer;
}

.menu:hover {
  filter: darken;
}

.menu:active {
  transform: translateX(4px);
}

.btn.btn-primary {
  background-color: #c1ac81;
  border: 1px solid #c1ac81;
  font-weight: 500;
}

.app-navbar {
  border: none;
  background-color: #222222;
  color: #ffffff;
  z-index: 99999;
  padding: 24px 80px;
}

.my-order-bar {
  width: 3rem;
  height: 100vh;
  position: fixed;

  top: 0;
  right: 0;
  left: auto;

  background-color: #ffffff;
  border-radius: 10% 0 0 10%;
  color: #222222;

  box-shadow: -20px 4px rgba(145, 145, 145, 0.1);
}

.my-order-bar.active {
  width: 24rem;
  margin-top: 3.5rem;
}

.bar {
  background-color: #2222221a;
  border-radius: 0rem;
  width: 0.5rem;
  height: 12rem;

  position: fixed;

  top: 40%;
  right: 1.5%;
}

.bar.active {
  right: 23.5%;

  @media (max-width: 1500px) {
    right: 26.5%;
  }
}

.order-card {
  background-color: rgb(239, 239, 239);
  border-radius: 0.5rem;
  height: 48vh;
  padding: 1rem;
  padding-right: 0.5rem;

  overflow-y: scroll;
}

.order-list {
  background-color: rgb(214, 214, 214);
  border-radius: 0.8rem;
}

.order-list-image-parent {
  height: 5rem;
  width: 7rem;
  border-radius: 0.5rem;
}

.order-list-image {
  width: 100%;
  height: 100%;
}

.sidebar {
  background-color: #222222;
}
.header.header-sticky {
  z-index: 999;
}

.btn-check:checked + .btn,
.btn-check:active + .btn,
.btn:active,
.btn.active,
.show > .btn.dropdown-toggle {
  background-color: #c1ac81;
  border-color: var(#c1ac81, transparent);
  box-shadow: none;
}

.rbt-input-multi {
  overflow: auto;
  max-height: 6rem;
}

.rbt-close {
  border: 1px solid $danger;
  border-radius: 4px;
  background-color: $danger;
  color: $white !important;
  margin-left: 0.4rem;
  padding: 0 0.2rem;

  &:hover {
    background-color: transparent;
    border: 1px solid $danger;
    box-shadow: none;
    color: $danger;
  }
}

.dropdown-item-danger {
  &:active {
    background-color: $danger;
    color: white !important;
  }
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #c1ac81;
  width: 32px;
  height: 32px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
